*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK Context File
# Remove this file if you want keep this in your project
cdk.context.json


.env
.env.*

